name: Unit testing

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  DOCKER_REGISTRY: fabricecharraud/shield

jobs:
  Pipeline:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Create `mariadb_data` directory for `database` microservice
      run: mkdir ~/mariadb_data

    - name: Create `logs` directory for logs
      run: mkdir ~/logs

    - name: Build Docker images and run Docker containers in background
      run: docker-compose -f src/docker/docker-compose-dev.yml up --detach

    - name: Run unit tests
      run: docker exec testing pytest -v /home/shield/testing/testing.py